<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- TITLE -->
    <title>Admin</title>

    <!-- LINK -->
    <%- include('partials/icon.ejs'); %>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/products.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/mediaProducts.css" />
    <link rel="stylesheet" href="/css/chat.css" />

    <!-- SCRIPT -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="/js/admin.js" type="module" defer></script>
    <script src="/js/menu.js" type="module" defer></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js" type="module" defer></script>
  </head>
  <body>
    <%- include('partials/header.ejs'); %>
    <main>
      <h2 class="main-title">Administración</h2>
      <button id="vaciarChat">Vaciar Chat</button>
      <div class="main-products">
        <!-- ADD PRODUCTS -->
        <form class="form" action="/api/products" method="POST">
          <h3 class="main-title">Agregar productos</h3>
          <div class="form-container">
            <div class="form-box">
              <input required class="form-box-input" type="text" name="title" />
              <label class="form-box-label">Titulo:</label>
              <i class="form-box-i"></i>
            </div>
            <div class="form-box">
              <input required class="form-box-input" min="0" type="number" name="price" />
              <label class="form-box-label">Precio:</label>
              <i class="form-box-i"></i>
            </div>
            <div class="form-box">
              <input required class="form-box-input" type="text" name="thumbnail" />
              <label class="form-box-label">Imagen(url):</label>
              <i class="form-box-i"></i>
            </div>
            <div class="form-box">
              <select class="form-select-box" required name="category">
                <option disabled selected></option>
                <option>mates</option>
                <option>termos</option>
                <option>bombillas</option>
                <option>yerbas</option>
                <option>materas</option>
              </select>
              <label class="form-box-label">Categoria:</label>
              <i class="form-box-i select-i"></i>
            </div>

            <div class="form-box-textarea form-box">
              <textarea required class="form-textarea"></textarea>
              <label class="form-box-label label-textarea">Descripcion:</label>
            </div>
          </div>
          <div class="form-btn-box">
            <input class="form-btn" type="submit" value="Agregar" /><i class="form-btn-i"></i>
          </div>
        </form>

        <!-- SHOW PRODUCTS -->
        <% if (productsInfo.length === 0) { %>
        <h2 class="main-title">No hay productos disponibles</h2>
        <% } %>

        <div class="product-container">
          <% if (productsInfo.length > 0) { %> <% productsInfo.forEach(function(product){ %>

          <div class="product" name="<%= product.id %>">
            <div class="product-img">
              <img src="<%= product.thumbnail %>" />
            </div>

            <div class="product-box">
              <div class="product-box-position">
                <input class="product-box-title" name="title" value="<%= product.title %>" />
                <i class="bx bxs-edit-alt bx-sm product-edit-btn"></i>
                <div class="product-edit-box">
                  <i class="bx bxs-check-square bx-sm product-edit-confirm"></i>
                  <i class="bx bxs-x-square bx-sm product-edit-cancel"></i>
                </div>
              </div>

              <div class="product-box-position product-box-icon">
                <input
                  min="1"
                  class="product-box-price"
                  value="<%= product.price %>"
                  type="number"
                  name="price"
                />
                <i class="bx bxs-edit-alt bx-sm product-edit-btn"></i>
                <div class="product-edit-box">
                  <i class="bx bxs-check-square bx-sm product-edit-confirm"></i>
                  <i class="bx bxs-x-square bx-sm product-edit-cancel"></i>
                </div>
              </div>

              <div class="product-box-position">
                <!-- <input class="product-box-title" value="<%= product.category %>" name="category" /> -->
                <select class="product-box-title" required name="category">
                  <option selected><%= product.category %></option>
                  <option>mates</option>
                  <option>termos</option>
                  <option>bombillas</option>
                  <option>yerbas</option>
                  <option>materas</option>
                </select>
                <i class="bx bxs-edit-alt bx-sm product-edit-btn"></i>
                <div class="product-edit-box">
                  <i class="bx bxs-check-square bx-sm product-edit-confirm"></i>
                  <i class="bx bxs-x-square bx-sm product-edit-cancel"></i>
                </div>
              </div>

              <div class="product-box-description">
                <span>Ver descripcion</span>
                <i class="bx bx-chevrons-right"></i>
              </div>
            </div>

            <button class="product-btn">
              <i class="bx bx-trash-alt bx-sm product-delete-icon"></i> Eliminar producto
            </button>
          </div>

          <div class="product-webkit">
            <div class="product-webkit-close">
              <i class="bx bx-x bx-md"></i>
            </div>

            <div class="product-webkit-box">
              <h4 class="product-webkit-title">Descripcion del producto: <%= product.title %></h4>
              <textarea class="product-webkit-text"><%= product.detail %></textarea>

              <div class="product-webkit-buttons">
                <button class="product-description-cancel description-btns">Cancelar</button>
                <button class="product-description-save description-btns">Guardar</button>
              </div>
            </div>
          </div>
          <% }); %> <% } %>
        </div>
      </div>
    </main>
    <%- include('partials/chat.ejs'); %> <%- include('partials/footer.ejs'); %>
  </body>
</html>
