<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- TITLE -->
    <title>Home</title>

    <!-- LINK -->
    <%- include('partials/icon.ejs'); %>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/mediaProducts.css" />
    <link rel="stylesheet" href="/css/chat.css" />

    <!-- SCRIPT -->
    <script src="/js/jwt.js" type="module" defer></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="/js/products.js" type="module" defer></script>
    <script src="/js/menu.js" type="module" defer></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js" type="module" defer></script>
  </head>
  <body>
    <%- include('partials/header.ejs'); %>
    <main>
      <ul class="category-list">
        <li><a class="category-link category-link-first" href="/categoria/mates">MATES</a></li>
        <li><a class="category-link" href="/categoria/termos">TERMOS</a></li>
        <li><a class="category-link" href="/categoria/bombillas">BOMBILLAS</a></li>
        <li><a class="category-link" href="/categoria/yerbas">YERBAS</a></li>
        <li><a class="category-link category-link-last" href="/categoria/materas">MATERAS</a></li>
      </ul>
      <% if (!userInfo) {%>
      <h2 class="main-title">No estas logeado</h2>
      <%} %> <% if (userInfo) {%>
      <h2 class="main-title">BIENVENIDO <%= username %> !!</h2>
      <%} %>

      <div class="main-link main-home">
        <a class="main-home-link" href="/categoria">VER TODOS LOS PRODUCTOS</a>
      </div>

      <div class="main-products">
        <% if (productsInfo.length === 0) { %>
        <h2 class="main-title">No hay productos disponibles</h2>
        <% } %>

        <!-- SHOW PRODUCTS -->
        <div class="main-promotion">
          <h2 class="main-title">Productos en promocion!!</h2>
          <i class="bx bx-chevrons-down bx-md promotion-icon"></i>
        </div>
        <div class="product-container">
          <% if (productsInfo.length > 0) { %> <% productsInfo.forEach(function(product){ %>

          <div class="product" name="<%= product.id %>">
            <div class="product-img">
              <img src="<%= product.thumbnail %>" />
            </div>

            <div class="product-box">
              <p class="product-box-title"><%= product.title %></p>
              <span class="product-box-price">$ <%= product.price %></span>
            </div>

            <button class="product-btn">Agregar al carrito</button>
          </div>

          <% }); %> <% } %>
        </div>
      </div>
    </main>
    <%- include('partials/chat.ejs'); %> <%- include('partials/footer.ejs'); %>
  </body>
</html>
