<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- TITLE -->
    <title>Home</title>

    <!-- LINK -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/mediaProducts.css" />
    <link rel="stylesheet" href="css/chat.css" />

    <!-- SCRIPT -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="js/products.js" type="module" defer></script>
    <script src="js/menu.js" type="module" defer></script>
    <script src="js/chat.js" type="module" defer></script>
  </head>
  <body>
    <%- include('partials/header.ejs'); %>
    <main>
      <h2 class="main-title">Bienvenido <%= userInfo.username %></h2>
      <div class="main">
        <% if (productsInfo.length === 0) { %>
        <h2 class="main-title">No hay productos disponibles</h2>
        <% } %>
        <div class="product-container">
          <% if (productsInfo.length > 0) { %> <% productsInfo.forEach(function(product){ %>
          <div class="product" name="<%= product.id %>">
            <div class="product-img">
              <img src="<%= product.thumbnail %>" />
            </div>
            <div class="product-box">
              <p class="product-box-title"><%= product.title %></p>
              <span class="product-box-price">$ <%= product.price %></span>
            </div>
            <button class="product-btn">Agregar al carrito</button>
          </div>
          <% }); %> <% } %>
        </div>
      </div>
    </main>
    <%- include('partials/chat.ejs'); %> <%- include('partials/footer.ejs'); %>
  </body>
</html>
