<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- TITLE -->
    <title>Producto</title>

    <!-- LINK -->
    <%- include('partials/icon.ejs'); %>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/productDetail.css" />
    <link rel="stylesheet" href="/css/chat.css" />

    <!-- SCRIPT -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="/js/menu.js" type="module" defer></script>
    <script src="/js/productDetail.js" type="module" defer></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js" type="module" defer></script>
  </head>
  <body>
    <%- include('partials/header.ejs'); %>
    <main>
      <div class="product" name="<%= productInfo.id %>">
        <div class="product-container">
          <div class="product-box box-title">
            <h2 class="product-box-title"><%= productInfo.title %></h2>
            <span class="product-box-price">$ <%= productInfo.price %></span>
            <button class="product-btn">
              Agregar al carrito <i class="bx bxs-cart-add bx-sm product-icon"></i>
            </button>
          </div>

          <div class="product-box box-img">
            <img class="product-box-img" src="<%= productInfo.thumbnail %>" />
          </div>
        </div>

        <div class="product-box box-detail">
          <h2 class="product-box-title">Descripcion:</h2>
          <pre class="product-box-description"><%= productInfo.detail %></pre>
        </div>
      </div>
    </main>
    <%- include('partials/chat.ejs'); %> <%- include('partials/footer.ejs'); %>
  </body>
</html>
